.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header__link {
  text-underline-offset: 4px;
}

.header__links-list {
  display: inline-flex;
  flex-direction: row;
  gap: 36px;
}

.header__links-list-item {
  font-size: 18px;
  list-style: circle;
  padding-left: 4px;
}

.header__link_active {
  list-style-type: none;
  text-decoration: none;
}

.header__links-list-item_no-bullit {
  list-style: none;
  padding-left: 0;
}

.header__logo {
  display: block;
  width: 129px;
  height: 104px;
  gap: 36px;
}

.address {
  max-width: 236px;
  justify-self: end;
  font-size: 18px;
  line-height: 24.3px;
  font-weight: 400;
  font-style: normal;
  list-style: none;
}

.tel__link {
  text-decoration: underline;
  text-underline-offset: 4px;
  font-style: normal;
}

.mailto__link {
  text-decoration: underline;
  text-underline-offset: 6px;
  font-style: normal;
}
.header__address {
  /* align-items: flex-start; */
  justify-self: end;
  font-weight: 400;
  font-style: normal;
  list-style: none;
}

.cover {
  position: relative;
  z-index: -1;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 757px;
}

.overlay {
  position: absolute;
  z-index: -1;
  inset: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
  padding: 165px 50px 50px;
  color: #ffffff;
  position: relative;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
  margin-left: 26px;
}

.aligned-text_right {
  text-align: right;
  padding-left: 30px;
}

.del__letter-spacing {
  letter-spacing: normal;
} /*убирает ненужные отступы в конце*/

.cover__description {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 22px;
  gap: 107px;
  white-space: nowrap;
  margin-top: 54px;
  color: #ffffff;
}

.cover__description-text {
  font-weight: 400;
  word-spacing: 18px;
}

.bet-button {
  border: 2px #ffffff solid;
  padding: 14px 32px;
  color: #ffffff;
  line-height: 1;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.lots {
  margin: 180px 24px 0 24px;
  line-height: 47px;
}

.lots__heading {
  padding: 0 40px 27px;
  font-size: 40px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
  color: #ffffff;
}

.card {
  position: relative;
  z-index: -1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
}

.card-link {
  text-decoration: none;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  padding: 48px 40px 0 40px;
  min-height: auto;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  text-align: left;
  text-decoration-line: underline;
  text-underline-offset: 4px;
  text-transform: uppercase;
}

.card__text {
  padding: 0 40px 48px 40px;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  text-align: left;
  text-decoration-line: none;
}

.lots__look-more-link {
  display: block;
  font-size: 20px;
  font-weight: 400;
  padding-left: 40px;
  padding-top: 20px;
  text-underline-offset: 5px;
}

.about {
  padding: 18px 0 0 24px;
  margin: 123px 25px 0 26px;
  display: grid;
  grid-template-columns: 310px 1fr;
}

.about__column {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  gap: 24px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  padding: 102px 96px 75px 0;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.about__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 181px 1px 83px 50px;
  gap: 94px;
}

.footer__address {
  display: inline;
  align-items: flex-start;
  white-space: wrap;
}

.footer__menu {
  text-align: center;
  white-space: nowrap;
}

.footer__menu-list {
  list-style: none;
  line-height: normal;
}

.footer__menu-list-item {
  margin-right: 45px;
  text-underline-position: under;
}

.footer__menu-link {
  font-size: 18px;
  text-underline-offset: 1px;
}

.footer__menu-link_active {
  list-style-type: none;
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
}

.footer__social-list-item {
  /* width: 48px;
  height: 48px; */
}

.footer__social-icon {
  width: 48px;
  height: 48px;
  display: inline-flex;
}
